
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100;300;400;500&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;

  --primary-color: #1c1c1c; /*hexadecimal only*/
  --secondary-color:#00B6FF; /*hexadecimal only*/
  --ripples-number: 3; /*1 to 10*/
  --ripples-width:0.1; /*0.0 to 1.0*/
  --ripple-bleed: 0.001; /*0.0 to 1.0*/
  --center-clear-area: 0.66; /*0.0 to 1.0*/
  --speed-factor: 2; /*0 to 100*/
  --direction: -1; /* 1 or -1 */
}

body{
  margin:0;
  padding:0;
  width:100vw;
  height:100vh;
}

.fullscreen{
  width: 100vw;
  height:100vh;
  margin:0;
  padding:0;
  z-index:0;
  display:grid;
  
  grid-template-columns:100%;

}
#container{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;  
  z-index:0;
 grid-row-start: 1;
 grid-row-end: 3;
 z-index: index -1;
 position:absolute;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;
background:var(--secondary-color);
  
}
#headings{
  margin:auto;
  padding:0;
z-index:6;
text-align:center;




}
#content__container{
  margin:auto;
 
  padding:0;
  z-index:6;
  text-align:center;
  display:grid;
  grid-row: 2 3;
  grid-column: 2 3;
  width: 50vw;
  height: 50vh;

display:grid;
place-items: center;


z-index:5;
}
